<div id="order-confirmation-box"><h1>order confirmation</h1>
  <p>congratulations, <%=@customer_name%>! you are coming to the WDI conference 2016!</p>
    <p>you have reserved <%= @seats %> seats: <%= @requested_seating %> </p>

    <p><%=@event_id%></p>
  <p>Please check you emails for your tickets.</p>
</div>
