<div id="about">This is the about page</div>
<ul>
<li>stop oreders for zero seats</li>
<li>show event full on the rvent list page</li>
<li>creating a shopping cart</li>
<li> make a nice form for buying tickets</li>
</ul>
