
<div id="bookings-title">A comprehensive list of this years exciting presentations</div>

  <% @events.each do |event| %>

    <div id="event-info-container-short">
      <div id ="event-subject-container">
        <%=event.subject%>
      </div>
      <div id="event-speaker-title">
        <%=event.speaker%>
        <div id="event-image-controller"><img class="speaker-event-image" src="/assets/default-avatar.png">
        </div>
      </div>

        <div id ="event-time-container">
          <%=event.time%>
        </div>


      <div id="event-info-btn">
        <form action="/bookings" method="get">
          <input type="hidden" name = "event_id" value= "<%=event.id%>">
          <input id="get-tkts-btn" name="eventId" type="submit" value="Book">
        </form>
        <!-- <div id ="event-sold-out"></div> -->
      </div>
    </div>

  <% end %>
