<h1>order confirmation</h1>
<p>congratulations, <%=@customer_name%>! you are coming to the WDI conference 2016!</p>

<p>you have reserved <%= @seats %> seats: <%= @seat_numbers %> </p>
</br>
<p>Please check you emails for your tickets.</p>
