#speaker-container{
  /*border: white 1px solid;*/
  max-width: 300px;
  height:300px;
  display: inline-block;
  /*margin-top: 30px;*/
  overflow:  hidden;
  margin: 20px;
  border-radius: 10px;
  /*box-shadow: 1px 1px #b21a1a;*/
}

#speaker-container:hover{
  /*transform: translateY(1em);*/
  transform: skew(0.2deg, 0.3deg);
}

#speaker-bio-title {
  /*border: white 1px solid;*/
  height: 35px;
  padding:10px;
  font-weight: bolder;
  color: #b21a1a;
}

#speaker-img-box{
    /*border: white 3px solid;*/
  text-align: center;
  margin:auto;
}

#speaker-img{
  border: white 4px solid;
  max-height:200px;
  width:200px;
  position: relative;
  border-radius: 20px;
}

#speaker-bio{
    /*border: white 1px solid;*/
    height: auto;
    padding: 5px;
    font-size: 15px;

/*I have no idea wtf the css is doing here but it looks cool*/
  overflow:hidden;
}
