<!DOCTYPE html>
<html>
<head>
  <title>Booking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="seats.html">Book</a></li>
    <li><a href="about.html">About</a></li>
  </ul>
    <div id="seat-choice">
      <div id='seat-selection'></div>
      <div id='number_seats'></div>
    </div>
    <div id = "selected-event"></div>
  </nav>



<%= yield %>

</body>
</html>
